* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
}
/* navbar */
#main-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-left: 20px;
}
#nav-bar{
  width: 60px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 20px;
}

#heading{
  padding-top: 20px;
  text-align: center;
  color: #37474f;
  font-size: 48px;
}

#heading-mobile{
  padding-top: 20px;
  text-align: center;
  color: #37474f;
  font-size: 48px;
  display: none;
}

#dropdown-menu {
  margin-left: 20px;
  display: none;
}

#menu-button {
  border: none;
  background-color: transparent;
}
#dropdown-item2 {
  width: 80px;
  height: 30px;
  background-color: #007bff;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  z-index: 10;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#dropdown-item1 {
  width: 80px;
  height: 30px;
  background-color: #007bff;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  z-index: 10;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#dropdown-item1:hover{
  background-color: #0056b3; 
}

#dropdown-item2:hover{
  background-color: #0056b3; 
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 80px;
}
#product {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
  
#product img {
    width: 100%;
    border-radius: 5px;
    transition:all  .3s;
}

#product img:hover {
  transform: scale(1.1);

}
  
#product-title {
    font-size: 20px;
    margin-top: 10px;
}
  
#product-description {
    font-size: 14px;
    margin-top: 10px;
}
  
#product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff; 
    margin-top: 10px;

}

#slidecontainer {
  margin-top: 10px;

}
  
#add-to-cart {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
  
#add-to-cart:hover {
    background-color: #0056b3; 
}

#go-to-cart {
  background-color: transparent; 
    color: #007bff;
    border: 1px solid #0056b3;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#go-to-cart:hover{
  background-color: #0056b3;
  color: white;
}

  

/* ------------------------- style for cart --------------------------- */

#cart {
    width: 500px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 31%;
    z-index: 10;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
  }
  
  #remove-cart {
    cursor: pointer;
    position: relative;
    top: -20px;

  }

  #cart h2 {
    margin-top: 0;
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  #cart-item {
    margin-bottom: 10px;
  }
  
  #cart-total {
    font-weight: bold;
  }
  
  #checkout {
    background-color: #007bff; /* blue color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #checkout:hover {
    background-color: #0056b3; /* darker blue on hover */
  }
  
  #cart-icon {
    position: relative;
    top: -10px;
    left: 47%;
  }

  #order-details {
    width: 500px;
    min-height: 200px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x:  hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 31%;
    z-index: 10;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
    }

    #order-icon{
      position: relative;
    top: -10px;
    left: 47%;
    }

    #remove-order {
      cursor: pointer;
      position: relative;
      top: -20px;
  
    }

#menu-button {
  cursor: pointer;
}

/*-------------------------------- loader css ---------------------------------- */
#loader{
  position: absolute;
  top: 40%;
  left: 45%;
}
.pl {
 display: block;
 width: 6.25em;
 height: 6.25em;
}
.pl__ring, .pl__ball {
 animation: ring 2s ease-out infinite;
}
.pl__ball {
 animation-name: ball;
}
/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}

/*------------------------ media queary for small screen -----------------------*/
@media only screen and (max-width : 480px) {
  #main-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  #container{
    width: 80%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  #heading{
    display: none;
  }
  #heading-mobile{
    display: block;
    margin-top: 20px;
  }

  #nav-bar{
    margin-top: 20px;
    margin-bottom: 0px;
    height: auto;
  }
  #dropdown-menu{
    margin-left: 0px;
  }
  #cart{
    width: 333px;
    left: 10%;
  }
  #order-details{
    width: 333px;
    left: 10%;
  }
}

@media screen and (max-width : 770px) and (min-width: 481px) {
  #main-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #heading{
    display: none;
  }
  #heading-mobile{
    display: block;
    margin-top: 20px;
  }
  #dropdown-menu{
    margin-left: 0px;
  }
  #nav-bar{
    margin-top: 20px;
    margin-bottom: 0px;
    height: auto;
  }
  #container{
    margin-left: 20px;
  }
  #cart{
    left: 17%;
  }
  #order-details{
    left: 17%;
  }
}